.custom-block
  padding: 1em 1.6rem 1.5em
  border-left: 5px solid $black
  color: #666
  margin: 1.5em 0px
  background-color: $white

  .custom-block-title
    margin-bottom: 0.875em
    font-weight 600
    color: $black

  &.tip
    border-color: $info

    .custom-block-title
      color: $info

  &.warning
    border-color: $warning

    .custom-block-title
      color: $warning

  &.danger
    border-color: $danger

    .custom-block-title
      color: $danger

  p
    margin-bottom: 0
