// colors
$white ?= #fff
$gray ?= #f8f8f8
$black ?= #000

$primary ?= #f81ce5
$info ?= $black
$warning ?= #faad14
$danger ?= #f5222d

$selection-color ?= $white
$selection-bg-color ?= $primary

$textColor ?= $black

$codeBlockBgColor ?= #282c34

$border-color ?= #eaeaea
$divider-color ?= #eaeaea

$link-color ?= #067df7
$link-decoration ?= none
$link-hover-color ?= #007bff
$link-hover-decoration ?= none

// font
$font-family-base ?= -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-monospace ?= "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace
$font-size-base ?= 14px
$line-height-base ?= 1.5

// grad
$grid-columns = 12
$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

$container-max-widths = {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
}